---
layout: default
title: Home
---

<div class="welcome">
  <p>Bienvenido a Destripando la Raspberry y otros sistemas.</p>
 
<p>Bloc personal donde iré colgando noticias varias sobre raspberry, hacking, sistemas operativos, servicios. </p>

Podréis echar un vistazo al bloc, no dudéis en poneros en contacto conmigo vía Mail, o Github.

<p>Partiremos de un awesome raspberry !{% if site.author.awesome_git %}
  <a href="https://github.com/{{ site.author.awesome_git }}"><i class="fa fa-github" aria-hidden="true" target="_blank"></i></a>
  {% endif %} y las noticias que hemos leído hasta el momento de la creación del bloc</p>


</div>

{% for post in paginator.posts %}
<div class="posts">
  <h1>
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h1>
  {% if post.image.teaser %}
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/images/{{ post.image.teaser }}"></a>
  {% endif %}
  <p>
    {{ post.content | strip_html | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
    <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active" href="{{ site.github.url }}{{ paginator.next_page_path }}" class="next">Older</a>
  {% else %}
    <span class="pagination-button">Older</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Newer</a>
    {% else %}
      <span class="pagination-button">Newer</span>
  {% endif %}

</div>
